@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chakra+Petch&family=Indie+Flower&family=Poetsen+One&family=Roboto&display=swap');
* {
    box-sizing: inherit;
}
:root {


}
html {
    box-sizing: border-box;
}

body {
    font-family: "Verdana", sans-serif;
    padding: 0;
    color: rgb(207, 207, 207);
    background-color:#0f0f0f;
}

.box {
    margin: 1rem auto;
    width: 700px;

}

#title-container {
text-align: center;
}

a {
    text-decoration: none;
    color: rgb(207, 207, 207);

}

a::after {
    color: rgb(207, 207, 207);
}